* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a {
  color: #226b6a;
}

body {
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-bottom: 2rem;
}
p {
  text-align: left;
  margin-bottom: 0.6rem;
}
header {
  text-align: center;
  margin-bottom: 2rem;
}
header section {
  font-size: 16px;
}
main {
  font-size: 16px;
  text-align: left;
}

main ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
main ul li a {
  text-align: center;
  display: block;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 0 12px 1px rgb(0 0 0 / 10%);
  transition: all 0.3s;
  opacity: 0;
  animation: 0.5s fade-in ease-in-out forwards,
    0.5s zoom-in ease-in-out forwards;
  animation-delay: var(--delay);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  from {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}

main ul li a:hover {
  box-shadow: 0 0 19px 1px rgb(0 0 0 / 15%);
  transition: all 0.3s;
}

@media (max-width: 767px) {
  header {
    padding: 2rem;
  }
  main ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 554px) {
  main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
