* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 200px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.item {
  min-height: 60px;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  background-color: hsl(0, 0%, 66%);

  display: flex;
  align-items: center;
  justify-content: center;
}
.item:last-child {
  margin-bottom: 0;
}

#placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.loading {
  text-align: center;
}
