* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  --swiper-width: 800px;
  --swiper-height: 500px;
  --swiper-duration: 300ms;
  --arrow-distance: 20px;
  --arrow-size: 36px;

  width: var(--swiper-width);
  height: var(--swiper-height);
  position: relative;

  overflow: hidden;

  box-shadow: 0px 0px 22px 3px rgb(0 0 0 / 40%);
}

.swiper .swiper-wrapper,
.swiper .swiper-wrapper .swiper-item,
.swiper .swiper-wrapper .swiper-item img {
  width: var(--swiper-width);
  height: var(--swiper-height);
  float: left;
}

.swiper .swiper-wrapper {
  position: absolute;
  left: var(--distance);

  transition: left var(--swiper-duration) ease-in-out;
}

.swiper .swiper-wrapper .swiper-item {
  position: relative;
}

.swiper .swiper-wrapper .swiper-item .swiper-item__content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.swiper #prev,
.swiper #next {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--arrow-size);
  height: var(--arrow-size);

  position: absolute;
  top: calc(var(--swiper-height) / 2);
  background: rgb(0 0 0 / 30%);
  border-radius: calc(var(--arrow-size) / 2);
  transition: background 0.3s;
  transform: translateY(-50%);
}
.swiper #prev svg,
.swiper #next svg {
  width: 30px;
  height: 30px;
}

.swiper #prev:hover,
.swiper #next:hover {
  background-color: rgb(255 255 255 / 50%);
  transition: all 0.3s;
}
.swiper #prev:hover svg path,
.swiper #next:hover svg path {
  stroke: #333;
  transition: all 0.3s;
}

.swiper #prev {
  left: var(--arrow-distance);
}
.swiper #next {
  right: var(--arrow-distance);
}

.swiper .swiper-item__content {
  padding: 1rem 2rem;
  color: #f3f3f3;
  background-color: rgb(0 0 0 / 30%);
}

.swiper .swiper-item__content h2 {
  margin-bottom: 0.5rem;
}
